<!doctype html>
<html>
    <head>
        <title> Blogz </title>
    </head>
    <body>
        <div>
            <p><a href='/'>Home</a></p>
            <p><a href='/blog'>View All Posts</a></p>
            <p><a href='/newpost'>Add a Blog Entry</a></p>
            <p><a href='/login'>Login</a></p>
            <p><a href='/logout'>Logout</a></p>

        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>